
.list-item{
    list-style: none;
}

.item{
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    padding: 5px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}